<!DOCTYPE html>

<html>
	<head>
		<title>Tableau</title>
		<script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>
		<script src="js/tableau.js"></script>
	</head>
	<body onload="initViz();">
	    <div id="tableauViz" style="width:800px; height:700px;"></div>    
	</body>
</html>
