<!doctype html>
<html>
<head>
    <title>Ampere Health App</title>
</head>
<body>
<h1>Hello</h1><h1> <%= user %></h1>
<h1> Welcome to One login</h1>
    <hr>

    <a href="/auth/fitbit" class="btn btn-primary"><span class="fa fa-user"></span> Login with Fitbit</a>

    <hr>

</body>
</html>